<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Weather Now</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <h1 class="ion-60p ion-text-center">{{temp}} °C</h1>
      <div *ngFor="let w of weather.weather" class="ion-text-center">
        <img src="http://openweathermap.org/img/wn/{{w.icon}}@2x.png" height="180px"/>
        <h1 class="ion-30p ion-text-center">
        {{city}}<br />
        {{country}}<br />
        {{w.main}}(<small>{{w.description}}</small>)
        </h1>
      </div>
  </div>
</ion-content>


